	#a1{
		float: left;
		padding-top: 30px;
		padding-left:30px; 
	}

	#a2{
		padding-top: 20px;
		padding-left:150px;
		/*font-family: arial;*/
		font-size : 20px;

	}

	#a3{
		float: left;
		border: 4px solid red;
		border-right: 4px solid lightgreen;
		height: 400px;
		width: 25%;
		border-left: 0px; 
	}
	#a4{
		float: left;
		border: 4px solid red;
		border-left: 0px;
		border-right: 0px;
		height: 400px;
		width : 70%;
	}
	#box{
		margin-top: 50px;
		border : 3px solid red;
		width:65%;
	}
	#a5 a{

		float: left;
		margin: 10px 10px 10px 10px; 
	}