body{
background-color : #d7d9dd;
}

#a1{
font-size : 45px;
color : purple;
background-color: #e0ed55;
margin: 20px 20px 20px 20px;
padding-top: 25px;
padding-bottom: 25px;
}

#a2{
font-size : 25px;

}
.a3{
font-family: arial;
color : green;
}
span{
font-size : 50px;
}

a{
color: inherit;  
text-decoration: none;
}

#a4{

flaot:left;

}
#a5{
padding-left: 10px;
clear:none;
}


body {
	margin: 0;
}

#over img {
	margin-left: auto;
	margin-right: auto;
	display: block;
height : 100px;
width : 100px;
}